.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Open Sans', Verdana, Arial, Tahoma, sans-serif;
}

.reveal h2 {
    font-size: 2.3em;
}

.reveal blockquote {
    width: 100%;
}

.reveal blockquote p {
    font-size: 150%;
}

.reveal pre {
    width: 100%;
}

.reveal pre code {
    padding: 5px;
    overflow: auto;
    max-height: 600px;
    font-family: 'Ubuntu Mono';
    font-size: 130%;
    word-wrap: normal;
}
